$blue: #55acee;
$brightBlue: #1dcaff;
$darkBlue: #0084b4;
$white: #ffffff;
$hoverBlue: #e0e9ee;
$buttonBlue: #b6dbee;
$linkHoverOrange: #ff7200;

$fontOpenSans: 'Open Sans', sans-serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

@mixin border-radius($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: $fontOpenSans;
}

body {
	background-color: $blue;
}

nav {
	width: 100%;
	background-color: $white;
	text-align: center;
	font-size: 1.5em;
	padding: 5px 0px;
}

aside {
	display: none;

	@media screen and (min-width: 1260px){
		display: block;
		width: 300px;
		margin: 20px;
		background-color: $white;
		border-radius: 5px;
	}
}

.left {
	height: 200px;
	position: relative;
	float: left;

	.leftTop {
		width: 100%;
		height: 40%;
		background-color: $brightBlue;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
}

.profileImg {
	width: 100px;
	height: 100px;
	position: absolute;
	border: 4px solid $white;
	top: 20px;
	left: 20px;
	background-color: $darkBlue;
	margin: 3px;
	color: $white;
	font-size: 4em;
	text-align: center;

	@include border-radius(5px);
}

.profileTitle {
	margin-top: 5px;
	margin-left: 145px;
	
	p {
		margin: 0;
		font-size: 0.8em;
	}

}

.profileInfo {
	margin-top: 20px;

	div {
		box-sizing: border-box;
		font-size: 0.8em;	
		padding: 0 10px;
		width: 30%;	
		display: inline-block;
		color: $buttonBlue;

		p {
			margin-top: 0px;
		}
	}
}

.right {
	height: 400px;
	float: right;
}

.container, .postTweet {
	background-color: $white;
	width: 100%;
	height: auto;
	font-size: 0.9em;

	@media screen and (min-width: 650px){
		width: 600px;
		margin: 20px auto;
		@include border-radius(5px);
	}
}

.postTweet {
	text-align: center;
}

input {
	display: inline-block;
	width: 90%;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px 10px;
	font-size: 1em;
	color: $linkHoverOrange;
	border-style: solid;
	border: 1px solid $linkHoverOrange;

	@include border-radius(5px);
}

input::-webkit-input-placeholder {
	color: $linkHoverOrange;
	opacity: 0.5;
}

input:focus {
	outline: 0;
}

button {
	display: block;
	width: 100%;
	height: 40px;
	border-style: none;

	background-color: $hoverBlue;
	font-family: $fontOpenSans;
	font-size: 1em;
	color: $linkHoverOrange;
	@media screen and (min-width: 650px){
		border-bottom: 2px solid $blue;	
	}
}

.load {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

button:hover {
	background-color: $buttonBlue;
}

button:active {
	opacity: 0.8;
}

button:focus {
	outline: 0;
}

.tweetContainer {
	font-size: 0.9em;

	div {
		padding: 15px;
		border-top: 1px solid $hoverBlue;
	}
	p {
		font-size: 0.8em;
		margin: 6px 0 0 0;
	}
	div:hover {
		background-color: $hoverBlue;
	}
}

strong {
	color: $darkBlue;
}

strong:hover {
	color: $linkHoverOrange;
	text-decoration: underline;
}